.form {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
}

.input {
  padding-top: 10px;
  padding-bottom: 10px;
}

.button-container{
  display: flex;
  justify-content: flex-end;
}
.btn{
  margin: 1%;
}