<div class="container">
  <form class="form">
    <mat-form-field class="input" appearance="fill">
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        [formControl]="emailFormControl"
        [(ngModel)]="email"
      />
      <mat-error
        *ngIf="
          emailFormControl.hasError('email') &&
          !emailFormControl.hasError('required')
        "
      >
        Veuillez saisir votre adresse email
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        L'adresse email est <strong>requise</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="input" appearance="fill">
      <mat-label>Mot de passe</mat-label>
      <input
        type="password"
        matInput
        [formControl]="passwordFormControl"
        [(ngModel)]="password"
      />
      <mat-error *ngIf="!passwordFormControl.hasError('required')">
        Veuillez saisir votre mot de passe
      </mat-error>
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        Le mot de passe est <strong>requis</strong>
      </mat-error>
    </mat-form-field>
  </form>
  <mat-checkbox class="example-margin" [(ngModel)]="isAdmin">
    Admin
  </mat-checkbox>
  <div class="button-container">
    <button type="button" class="btn btn-success" [routerLink]="'/register'">S'inscrire</button>
    <button type="button" class="btn btn-primary btn-block confirm-button" (click)="authenticate()">Se connecter</button>
  </div>


</div>
