.card {
  margin-top: 2%;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
}
.button-container {
  display: flex;
  justify-content: center;
  padding: 2%;
  border-radius: 10px;
}
.form-group {
  padding: 2%;
}
.form-control {
  margin-top: 10px;
  height: 48px;
  border: 2px solid #eee;
  border-radius: 10px;
}
.form-control:focus {
  box-shadow: none;
  border: 2px solid #039be5;
}
.agree-text {
  font-size: 12px;
}
.terms {
  font-size: 12px;
  text-decoration: none;
  color: #039be5;
}
.confirm-button {
  height: 50px;
  width: 30%;
  border-radius: 10px;
}
h4 {
  padding-top: 2%;
  padding-bottom: 0.5%;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 20px;
  color: #4a919e;
}
h4:after {
  content: " ";
  width: 100px;
  height: 5px;
  background: #4a919e;
  display: block;
  margin-top: 20px;
  border-radius: 3px;
  margin-left: 0;
}
label {
  font-size: 15px;
  color: #344d59;
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 10px;
}

.button-group .eval-btn {
  padding: 7px 19px;
  background-color: white;
  border-color: #4a919e;
  color: #4a919e;
  border: solid 2px;
  border-radius: 7px;
  margin-right: 5px;
}

.button-group .see-eval-btn {
  padding: 7px 19px;
  background-color: #4a919e;
  border-color: white;
  color: white;
  border-radius: 7px;
  margin-left: 5px;
}
.alert {
  color: red;
}
