<div class="container">
  <form class="form">
    <mat-form-field class="input" appearance="fill">
      <mat-label>Name</mat-label>
      <input
        type="password"
        matInput
        [formControl]="nomFormControl"
        [(ngModel)]="nom"
      />
    </mat-form-field>


    <mat-form-field class="input" appearance="fill">
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        [formControl]="emailFormControl"
        [(ngModel)]="email"
      />
      <mat-error
        *ngIf="
          emailFormControl.hasError('email') &&
          !emailFormControl.hasError('required')
        "
      >
        Veuillez saisir une adresse email
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        L'adresse email est <strong>requise</strong>
      </mat-error>
    </mat-form-field>


    <mat-form-field class="input" appearance="fill">
      <mat-label>Password</mat-label>
      <input
        type="password"
        matInput
        [formControl]="passwordFormControl"
        [(ngModel)]="password"
      />
      <mat-error *ngIf="!passwordFormControl.hasError('required')">
        Veuillez saisir un mot de passe
      </mat-error>
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        Le mot de passe est <strong>requis</strong>
      </mat-error>
    </mat-form-field>
  </form>

  <a mat-button  class="btn btn-info" >Retour</a>
  <!---To do add la fonction pour valider-->
  <button mat-flat-button color="primary">
    Valider
  </button>


</div>
